{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>SINABOOK | Admin Login</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/ticketLogo1.png'%}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/custom.css'%}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: PhotoFolio
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static 'assets/img/logo.png'%}" alt=""> -->
          <img src="{% static 'assets/img/ticketLogo1.png'%}" alt="" />
          <h1>SINABOOK</h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            {% if request.user.is_authenticated %}
            <!-- only if user is logged in -->
            <li><a href="{% url 'log-out' %}">Log out</a></li>
            
            {% else %}
            <!-- should display only if user is not logged in -->
            <li><a href="{% url 'admin-login' %}">Admin Log in</a></li>
            <li><a href="{% url 'login' %}"> User Log in</a></li>
            {% endif %}
           
       
          </ul>
        </nav>
        <!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->

    <main id="main" data-aos="fade" data-aos-delay="1500">
      <!-- ======= End Page Header ======= -->
      <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Admin Log in:</h2>
              <p>Sign in to manage movies, users, and promotions</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Page Header -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="row gy-4 justify-content-center">

        <div class="row justify-content-center mt-4">
            <div class="container">
              <!-- error messaging -->
              {% if messages %}
                  <div class="alert alert-danger" role="alert">
                      {% for message in messages %}
                          {{ message }}
                      {% endfor %}
                  </div>
              {% endif %}
              <div class="row justify-content-center mt-4">
                  <div class="col-lg-9">
                      <form method="POST" action="">
                          {% csrf_token %}
                          <!-- Display form-specific errors  -->
                          {% if form.non_field_errors %}
                              <div class="alert alert-danger">
                                  <strong>Errors:</strong>
                                  {% for error in form.non_field_errors %}
                                      <div>{{ error }}</div>
                                  {% endfor %}
                              </div>
                          {% endif %}
          <!-- user login form -->
                          <div class="form-group mt-3">
                              <p>Username:</p>
                              {% render_field form.username class="form-control" placeholder="Username" %}
                              {% if form.username.errors %}
                                  <div class="alert alert-danger">{{ form.username.errors.as_text }}</div>
                              {% endif %}
                          </div>
          
                          <div class="form-group mt-3">
                              <p>Password:</p>
                              {% render_field form.password class="form-control" placeholder="Password" %}
                              {% if form.password.errors %}
                                  <div class="alert alert-danger">{{ form.password.errors.as_text }}</div>
                              {% endif %}
                          </div>
                      
                          <div class="text-center">
                              <button type="submit" class="btn-get-started">Log in</button>
                          </div>

                  <!-- end of user login form -->         
                      </form>
                  </div>
                  <!-- End Contact Form -->
              </div>
          </div>

    
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>University of Georgia</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader">
      <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
  </body>
</html>
