.form {
    position: relative;
}

.form .fa-search {

    position: absolute;
    top: 20px;
    left: 20px;
    color: #222831;

}

.form span {

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 3px solid #FFC93C;

}

.left-pan {
    padding-left: 7px;
}

.left-pan i {

    padding-left: 10px;
}

.form-input {

    height: 55px;
    text-indent: 25px;
    border-radius: 10px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

button {
    font-family: "Fredoka",
    sans-serif;
    border-radius: 10px;
    border-color: #FFC93C;
    background-color: #14171d;
    color: #FFC93C;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 90%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.header {
    padding: 10px 0;
}

.gallery {
    margin-top: 2%;
}

.col-xl-3 {
    flex: 0 0 auto;
    width: 20%;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-body h2 {
    font-size: 50px;
    color: #14171d;
}

.modal-body h3 {
    font-size: 30px;
    color: #14171d;
}

.movieSynopsis p {
    font-size: 18px;
    color: #14171d;
}

.modal-dialog-scrollable {
    height: 90%;
}

.modal-dialog ::-webkit-scrollbar {
    display: none;
}

.loginWindow {
    flex: 0 0 auto;
    width: 40%;
    background-color: #ffffff;
    padding: 60px 50px 60px 50px;
    border-radius: 10px;
    margin: 10px;
    color: #14171d;
}

.login-page-header {
    padding: 120px 0 0px 0;
    min-height: 30vh;
    position: relative;
}

.login-page-header h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
}

.login-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 90%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 0px;
}

.nav-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 90%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    padding: 10px 0;
    background-color: #222831c5;
}

.btn-book {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    transition: 0.3s;
    color: #14171d;
    background: var(--color-primary);
}

.btn-book:hover {
    color: #222831;
    background: #ffe49e;
}

.h-100 {
    height: 90% !important;
}

.gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 20px;
}

.gallery .gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: none;
    background: none;
    z-index: 3;
}

.createAccountOptional {
    margin-top: 0;
    color: #717171;
}

.adminColor{
    background-color:#FFC93C;
    color: white;
}

.movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 22px;
    border-radius: 5px;
    color: #8e8e8e
}

.seatsContainer {
    perspective: 1000px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat {
    background-color: #14171d;
    height: 25px;
    width: 35px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected {
    background-color: #FFC93C;
}

.occupied {
    background-color: #8e8e8e;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background: linear-gradient(#d6d6d6, #394152);
    height: 80px;
    width: 80%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 5px 10px #20242e;
}

p.orderSummarytext {
    margin: 40px 0;
    color: #cccccc;
}

p.orderSummarytext span {
    color: #ff6200;
    font-weight: 600;
    box-sizing: content-box;
}

p.text {
    margin: 40px 0;
    color: #ffffff;
}

p.text span {
    color: #ff6200;
    font-weight: 600;
    box-sizing: content-box;
}

label {
    display: inline-block;
    color: #222831;
    font-size: 22px;
}

span {
    cursor: pointer;
}

.number {
    margin: 10px;
}

.minus,
.plus {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.plusMinus input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
.textarea{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.userProfile {
    flex-shrink: 0;
    width: 30%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    font-size: 20px;
}

img,
svg {
    vertical-align: middle;
    width: 300px;
}

.moviecontainer,
.moviecontainer-fluid,
.moviecontainer-lg,
.moviecontainer-md,
.moviecontainer-sm,
.moviecontainer-xl,
.moviecontainer-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 60%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}