{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>SINABOOK | Edit Profile</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/ticketLogo1.png'%}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/custom.css'%}" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: PhotoFolio
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="nav-container d-flex align-items-center justify-content-between"
      >
        <a
        href="/"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static 'assets/img/logo.png'%}" alt=""> -->
          <img src="{% static 'assets/img/ticketLogo1.png'%}" alt="" />
          <h1>SINABOOK</h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'log-out' %}">Log out</a></li>
            <li><a href="{% url 'booking_history' %}">Booking History</a></li>
          </ul>
        </nav>
        <!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->

    <main id="main" data-aos="fade" data-aos-delay="1500">
      <!-- ======= End Page Header ======= -->
      <div class="login-page-header d-flex align-items-center">
        <div class="login-container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Edit Profile:</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- End Page Header -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="login-container">
          <div class="row justify-content-center mt-4">
            <img
              class="userProfile"
              src="{% static 'assets/img/user icon.png'%}"
              width="50px"
              alt="profile"
            />
            <div class="loginWindow">

                 <!-- must come back to this and format it to connect with django - alexis
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
               <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div> 
              <p>Full Name:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div> -->
                <!-- {% csrf_token %}
                {{ form.as_p }} -->
                <!-- <p>Username:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Username"
                    required
                  />
                </div>
                <p>Full Name:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Full Name"
                    required
                  />
                </div>
                <p>Phone Number:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Phone Number"
                    required
                  />
                </div>
                <p>Email Address:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Email Address"
                    required
                  />
                </div>
                <p>Address:</p>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Address"
                    required
                  />
                </div> 


                 <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div> -->
                <br />
              </form>
            </div>

        <!--  
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              Display Decrypted Card Details 
              <p>Card Number: {{ decrypted_card_number }}</p>
              <p>CVV: {{ decrypted_cvv }}</p>
          </form>
            <div>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ optional_info_form.as_p }}
                <button type="submit" class="btn-get-started text-center">Save Changes</button>
              </form>
          </div>
        -->
            <!-- <div class="text-center">
              <br />
              <br />
              <br />
              <a href="" class="btn-get-started">Update Profile</a>
              <br />
            </div> -->
            <!-- End Contact Form -->
          </div>
        </div>
      </section>

      <section id="contact" class="contact">
        <div class="login-container">
          <div class="row justify-content-center mt-4">
            <div class="loginWindow">
              <form method="post">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}

           <!-- User info Change Form -->
                <fieldset>
                    <legend>User Information:</legend>
                    {{ user_form.as_p }}
                </fieldset>
                <button type="submit" name="submit_user_form" class="btn btn-primary">Update User Info</button>
            </form>
            
            <!-- Password Change Form -->
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Password Change (Optional):</legend>
                    {{ password_form.as_p }}
                    <small class="text-muted">Leave blank if you do not wish to change your password.</small>
                </fieldset>
                <button type="submit" name="submit_password_form" class="btn btn-primary">Change Password</button>
            </form>
            
            <!-- Credit Card Information Form -->
            {% if credit_card_form %}
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Payment Information:</legend>
                    {{ credit_card_form.as_p }}
                </fieldset>
                <button type="submit" name="submit_credit_card_form" class="btn btn-primary">Update Payment Info</button>
            </form>
            {% endif %}
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>University of Georgia</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader">
      <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
  </body>
</html>
